/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.home-container {
    display: flex;
    background-color: #252a2e;
    height: 93vh;
    margin-top: 0.5rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6),
        inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

.admin-panel-buttons {
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.admin-panel-buttons:hover {
    transform: translateY(-3px) translateX(2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.admin-panel-buttons .pi {
    font-size: 1.5rem;
    color: rgba(0, 175, 240, 0.9);

}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-datatable-gridlines tbody>tr>td,
.p-datatable-gridlines thead>tr>th {
    border: 1px solid rgb(119, 119, 119);
}


.p-datatable-gridlines thead>tr>th{
    background-color:rgb(63, 63, 63);
    color: white;
}