/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

input[type="password"]::-ms-reveal {
    display: none;
}
//================================= Primeng DropDown Changes =================================================
.custom-dropdown .p-dropdown-label {
    height: 27px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

/* Customize the editable input */
.custom-dropdown .p-dropdown-label-container input {
    height: 27px;
    font-size: 14px;
    line-height: 30px;
}

/* Remove the left gap in the dropdown items */
.custom-dropdown .p-dropdown-items .p-dropdown-item {
    padding: 0 1em;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Ensure the dropdown panel is styled correctly */
.custom-dropdown .p-dropdown-panel {
    padding: 0;
    /* Remove padding if needed */
}

/* Remove padding from ul elements inside the dropdown */
.custom-dropdown .p-dropdown-items {
    padding-left: 0 !important;
    margin-left: 0 !important;
    list-style-type: none;
    /* Remove default list styling */
}

.custom-dropdown .p-dropdown-items li {
    padding-left: 1rem !important;
    margin-left: 0 !important;
    list-style-type: none;
}

//================================= Primeng DropDown Changes =================================================

.home-container {
    display: flex;
    background-color: #252a2e;
    height: 93vh;
    margin-top: 0.5rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6),
        inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}


// ================= Primeng Buttons CSS modified ==========================================
.admin-panel-buttons {
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.admin-panel-buttons:hover {
    transform: translateY(-3px) translateX(2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.admin-panel-buttons .pi {
    font-size: 1.5rem;
    color: rgba(0, 175, 240, 0.9);

}


.action-buttons {
    border-radius: 5px;
    height: 33px;
    font-size: 0.8rem;
    min-width: 160px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

.action-buttons .pi{
    font-size: 0.9rem;
    
}

// ================= Primeng Buttons CSS modified ==========================================

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



// <=================================== Primeng Table CSS modified ==========================================>

.p-datatable-gridlines tbody>tr>td,
.p-datatable-gridlines thead>tr>th {
    border: 1px solid rgb(119, 119, 119);
}


.p-datatable-gridlines thead>tr>th {
    background-color: rgb(63, 63, 63);
    color: white;
}
// <=================================== Primeng Table CSS modified ==========================================>


//<======================================= Responsive grid layout ==============================================>
.input-label {
    color: white;
    font-weight: 300; 
    display: block;
    margin-bottom: 1px; 
    font-weight: 300;
}

.input-field {
    height: 1.8rem;
    width: 100%;
    // box-sizing: border-box;
}

/* Ensure label is displayed as a block element */
.inputs-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.custom-row {
    display: contents;
}

.custom-col-2 { grid-column: span 2; }
.custom-col-3 { grid-column: span 3; }
.custom-col-4 { grid-column: span 4; }
.custom-col-6 { grid-column: span 6; }
.custom-col-8 { grid-column: span 8; }
.custom-col-9 { grid-column: span 9; }
.custom-col-10 { grid-column: span 10; }
.custom-col-12 { grid-column: span 12; }

/* Medium screens */
@media (min-width: 768px) {
    .md\:custom-col-2 { grid-column: span 2; }
    .md\:custom-col-3 { grid-column: span 3; }
    .md\:custom-col-4 { grid-column: span 4; }
    .md\:custom-col-6 { grid-column: span 6; }
    .md\:custom-col-8 { grid-column: span 8; }
    .md\:custom-col-9 { grid-column: span 9; }
    .md\:custom-col-10 { grid-column: span 10; }
    .md\:custom-col-12 { grid-column: span 12; }
}

/* Large screens */
@media (min-width: 992px) {
    .lg\:custom-col-2 { grid-column: span 2; }
    .lg\:custom-col-3 { grid-column: span 3; }
    .lg\:custom-col-4 { grid-column: span 4; }
    .lg\:custom-col-6 { grid-column: span 6; }
    .lg\:custom-col-8 { grid-column: span 8; }
    .lg\:custom-col-9 { grid-column: span 9; }
    .lg\:custom-col-10 { grid-column: span 10; }
    .lg\:custom-col-12 { grid-column: span 12; }
}

/* Extra large screens */
@media (min-width: 1200px) {
    .xl\:custom-col-2 { grid-column: span 2; }
    .xl\:custom-col-3 { grid-column: span 3; }
    .xl\:custom-col-4 { grid-column: span 4; }
    .xl\:custom-col-6 { grid-column: span 6; }
    .xl\:custom-col-8 { grid-column: span 8; }
    .xl\:custom-col-9 { grid-column: span 9; }
    .xl\:custom-col-10 { grid-column: span 10; }
    .xl\:custom-col-12 { grid-column: span 12; }
}
//<======================================= Responsive grid layout ==============================================>

.card {
    background-color: #252a2e;
    margin: 1rem;
    padding: 1rem;;
}

.add-new-button{
    background-color: #008d18;
    border-color: #008d18;
}

.add-new-button:hover{
    background-color: #006912;
    border-color: #006912;
}

.table-column-buttons{
    border-radius: 5px;
    max-width: 30px;
    max-height: 30px;
}

.table-column-buttons .pi{
    font-size: 0.8rem;
}

