

.carousel-div{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 500px;
    height: 80vh !important;
}

.home-image-div {
    width: 50%;
    display: flex;
    justify-content: end;
    height: 80vh !important;
}

.home-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 10% 35%;
}

.carousal-wrapper{
    width: 50%;
    background-color: black;
    // height: 50vh;
}

.carousal-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // object-position: 10% 35%;
}