.home-container {

    display: flex;
    background-color: #252a2e;

    margin-top: 0.5rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    // border: 1px solid #1d1f22; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 
                inset 0 1px 0 rgba(255, 255, 255, 0.1); 
    border-radius: 3px; 
    // padding: 0 1rem; 
}

.carousel-div{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 500px;
    height: 80vh !important;
}

.home-image-div {
    width: 50%;
    display: flex;
    justify-content: end;
    height: 80vh !important;
}

.home-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 10% 35%;
}

.carousal-wrapper{
    width: 50%;
    background-color: black;
    // height: 50vh;
}

.carousal-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // object-position: 10% 35%;
}