.flex-container {
    min-height: 50px;
    font-family: 'Roboto';
    font-size: 1rem;
    display: flex;
    align-items: center;
    background: #252a2e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), /* Deep shadow */
                inset 0 1px 0 rgba(255, 255, 255, 0.1); /* Light inner shadow */
    border-radius: 4px; /* Optional: rounded corners for a softer look */
    padding: 0 1rem; /* Optional: padding for inner spacing */
}

.each-content-navbar {
    padding: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Add transition */

    &:hover {
        background-color: rgba(0, 175, 240, 0.9);
        /* Decrease opacity */
        color: #303030;
        cursor: pointer;
        transform: translateX(2px) translateX(-2px);

    }
}


a {
    color: #f0f0f0;
    text-decoration: none;
    /* Optional: to ensure it looks like regular text */
    font-weight: normal;
    font-style: normal;
}


.contents-navbar {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-navbar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

//<-------------- Search Bar CSS------------>
.search-div {
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    // background: #e9e9e9;
    transition: 0.2s;

    background: rgba(12, 12, 12, 0.25);
    // backdrop-filter: blur(4px);
    // -webkit-backdrop-filter: blur(4px);
    // border-radius: 10px;

}

.search-icon {
    color: rgb(228, 227, 227, 0.5);

}
.search-div:focus-within {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.18);

    .search-icon {
      color: #252525; /* Change color to black on focus */
    }
    .search-input ::placeholder{
        color: #000;
    }
    
  }

.search-input {
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
    // color: #1b1b1b;
    margin-left: 0.7rem;
    outline: none;
    border: none;
    background: transparent;
}


.empty-column {
    flex: 1;
    display: flex;
}

.container {
    display: grid;
}