<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class=" flex-container">
    <div class="empty-column">

    </div>

    <div class=" contents-navbar">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            <div class="each-content-navbar">
                HOME
            </div>
        </a>
        <a routerLink="/categories" routerLinkActive="active" ariaCurrentWhenActive="page">
            <div class="each-content-navbar">
                CATEGORIES
            </div>
        </a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
            <div class="each-content-navbar">
                CONTACT
            </div>
        </a>
    </div>

    <div class="search-navbar">
        <div class="search-div">
            <input class="search-input" type="search" placeholder="Search">
            <span class=" search-icon material-symbols-outlined">search</span>
        </div>

    </div>

</div>

<router-outlet></router-outlet>