<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="admin-panel-body">
    <div class="parent-wrapper-container">
        <div class="each-element-button">
            <div>
                <button pButton pRipple label="Products" icon="pi pi-box"
                    class="p-button-success admin-panel-buttons p-button-raised">
                </button>
            </div>
            <div>
                <button pButton pRipple label="Users" icon="pi pi-user"
                    class="p-button-success admin-panel-buttons p-button-raised">
                </button>
            </div>
            <div>
                <button pButton pRipple label="Contact" icon="pi pi-info-circle"
                    class="p-button-success admin-panel-buttons p-button-raised">
                </button>
            </div>
            <div>
                <button pButton pRipple label="Products" icon="pi pi-box"
                    class="p-button-success admin-panel-buttons p-button-raised">
                </button>
            </div>
            <div>
                <button pButton pRipple label="Products" icon="pi pi-box"
                    class="p-button-success admin-panel-buttons p-button-raised">
                </button>
            </div>
            <div>
                <button pButton pRipple label="Products" icon="pi pi-box"
                    class="p-button-success admin-panel-buttons p-button-raised">
                </button>
            </div>
        </div>
    </div>
</div>